.App {
  display: grid;
  grid-template-columns: 10% 90%;

  color: #ebedf3;

  section {
    position: relative;
    background-color: #343434;
    border-right: 1px #a1a1a1;
    box-shadow: 10px 0 5px -2px #4b4b4b;
  }

  main {
    background-color: #676767;
  }
}
